PORT=4000
# Replace the example URI below with your MongoDB connection string
MONGO_URI=mongodb+srv://user:userpassword@medilegervn.pnkcnho.mongodb.net/
IPFS_API_URL=https://ipfs.infura.io:5001
ENABLE_ENCRYPTION=false
